
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/


html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}


/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


/* MY CODE STARTS HERE */


#espejoI {
  display: none;
  width: 100%;
  max-height: 70vh;
}
#espejoV {
width: 100%;
max-height: 70vh;
}

.container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  background-color: #FFDEDA;
}

.titelMobile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  margin: 5px;
}

#titulo {
  padding: 0;
  margin: 1vh;
  list-style-type: none;
  font-family: 'Red Hat Text', sans-serif;
  font-size: 5vw;
  text-decoration: none;
}

.nav {
  padding-top: 0;
  background-color: white;
  display: flex;
  justify-content: space-between;
  max-height: 100px;
  list-style-type: none;
  font-family: 'Red Hat Text', sans-serif;
}

#globo1 {
}

#globo2 {
}

.globo {
  align-self: center;
  padding: 1vh 2vw;
  height: 7vh;
  width: 5vh;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav ul {
  padding-left: 0;
  background-color: white;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  justify-content: space-between
}

nav ul li {
  font-size: 2vh;
  font-family: 'Red Hat Text', sans-serif;
  padding: 0 20px;
  color: black;
}

.nav ul li a {
  text-decoration: none;
  color: inherit;
}

.wrapper {
  background-color: #FFDEDA;
}

.main p {
  font-family: 'Red Hat Text', sans-serif;
  padding: 20px 15px;
  line-height: normal;
}

.main img {
  margin-top: 10px;
  margin-left: 0;
  padding-left: 0;
  max-width: 100vw;
}

.proyecto {
  display: flex;
  padding: 5vw;
  flex-direction: column;
  justify-content: flex-start;
}

.proyecto h2 {
  padding-top: 10px;
  font-size: 3vh;
  font-family: 'Red Hat Text', sans-serif;
  color: black;
}

.proyecto img {
  max-width: 90vw;
}

.proyecto p {
  padding-top: 10px;
  font-size: 2vh;
  font-family: 'Red Hat Text', sans-serif;
  color: black;
}

.sidebar {
  display: none;
}

footer {
  background-color: black;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

footer h3 {
  color: white;
  padding: 2vh;
  font-size: 2vh;
  font-family: arial;
}
