#espejoI {
  display: none;
  width: 100%;
  max-height: 70vh;
}
#espejoV {
width: 100%;
max-height: 70vh;
}

.container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  background-color: #FFDEDA;
}

.titelMobile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
}

#titulo {
  padding: 0;
  margin: 1vh;
  list-style-type: none;
  font-family: 'Red Hat Text', sans-serif;
  font-size: 5vw;
  text-decoration: none;
}

.nav {
  padding-top: 0;
  background-color: white;
  display: flex;
  justify-content: space-between;
  max-height: 100px;
  list-style-type: none;
  font-family: 'Red Hat Text', sans-serif;
}

#globo1 {

}

#globo2 {

}


.globo {
  align-self: center;
  padding: 1vh 4px;
  height: 7vh;
  width: 5vh;
}

nav {
  display: flex;
  flex-direction: row; */
  justify-content: space-between;
}

nav ul {
  padding-left: 0;
  background-color: white;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  justify-content: space-between
}

nav ul li {
  font-size: 2vh;
  /* font-family: 'Red Hat Text', sans-serif; */
  padding: 0 20px;
  color: black;
}

.nav ul li a {
  text-decoration: none;
  color: inherit;
}

.wrapper {
  background-color: #FFDEDA;
}

.main {

}

.proyecto

.sidebar {
  display: none;
}
